<!-- 遮罩层 -->
<div id="CollectionSidebarOverlay" class="collection-sidebar-overlay" style="display: none;"></div>

<!-- 侧边栏弹出框 -->
<aside
  id="CollectionSidebar"
  class="collection-sidebar collection-sidebar-popup"
  data-alp-sidebar-popup
  style="display: none;"
>
  <!-- 关闭按钮 -->
  <div class="collection-sidebar-header flex justify-end py-2">
    <span class="collection-sidebar-close text-sm" data-alp-sidebar-popup-close> CLOSE </span>
  </div>

  <div class="collection-sidebar-product-type-container flex flex-col justify-between">
    <div class="collection-sidebar-product-type__wrapper">
      <h3 class="collection-sidebar-product-type__title text-base">PRODUCT TYPE</h3>
      <facet-filters-form class="facets ">
        <form
          id="FacetFiltersForm"
          class="{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}"
        >
          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}

          {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
          <div
            id="FacetsWrapperDesktop"
            {% if filter_type == 'horizontal' %}
              class="facets__wrapper"
            {% endif %}
          >
            <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
            {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
            {%- for filter in results.filters -%}
              {%- if filter.label == 'Product type' -%}
                {% liquid
                  assign total_active_values = total_active_values | plus: filter.active_values.size
                  assign presentation = filter.presentation | default: default_presentation

                  if presentation == 'image'
                    assign show_more_number = 12
                    assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                  else
                    assign show_more_number = 10
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                  endif
                %}

                <div
                  id="Facet-{{ forloop.index }}-{{ section.id }}"
                  class=" w-full "
                >
                  <div class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
                    {%- liquid
                      assign sorted_values = filter.values
                      # Keep the selected values grouped together when operator is AND
                      if filter.operator == 'AND'
                        assign active_filter_values = filter.values | where: 'active', true
                        assign inactive_filter_values = filter.values | where: 'active', false
                        assign sorted_values = active_filter_values | concat: inactive_filter_values
                      endif
                    -%}
                    <ul
                      class="{{ visual_layout_class }}{% if filter_type == 'vertical' %} facets__list--vertical{% else %} facets__list{% endif %} list-unstyled"
                      role="list flex flex-col gap-y-[10px]"
                    >
                      {%- for value in sorted_values -%}
                        {% liquid
                          assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                          assign is_disabled = false
                          if value.count == 0 and value.active == false
                            assign is_disabled = true
                          endif
                        %}
                        {%- capture label_class -%}
                            facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                            {%- endcapture -%}

                        {%- capture text_value -%}
                                <span class="facet-checkbox__text-label text-sm text-[#858585]">{{- value.label | escape }}</span> 
                              <span class="visually-hidden">
                                {{- value.label | escape }} (
                                {%- if value.count == 1 -%}
                                  {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                {%- else -%}
                                  {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                {%- endif -%}
                                )
                              </span>
                            {%- endcapture -%}

                        <li class="list-menu__item facets__item{% if forloop.index > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
                     
                            <label for="{{ input_id }}" class="{{ label_class }}">
                              <input
                                type="checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                id="{{ input_id }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                                {% if is_disabled %}
                                  disabled
                                {% endif %}
                              >

                                {{- 'square.svg' | inline_asset_content -}}

                                <div class="svg-wrapper">
                                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                </div>

                              {{ text_value }}
                            </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </form>
      </facet-filters-form>
    </div>
    <a class="collection-sidebar-product-type__clear" href="{{ main_object.url }}?sort_by={{ sort_by }}"> CLEAR </a>
  </div>
</aside>
