{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="svg-wrapper header__icon-menu">
        {% render 'icon', icon: 'icon-hamburger' %}
      </span>

      <div class="flex gap-x-[14px] items-center">
        {% comment %} <span id="header__icon__menu-account">
          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="header__icon header__icon--account link focus-inset"
              rel="nofollow"
            >
              {%- if section.settings.enable_customer_avatar -%}
                <account-icon>
                  {%- if customer and customer.has_avatar? -%}
                    {{ customer | avatar }}
                  {%- else -%}
                    <span class="svg-wrapper">{% render 'icon', icon: 'icon-user' %}</span>
                  {%- endif -%}
                </account-icon>
              {%- else -%}
                <span class="svg-wrapper">{% render 'icon', icon: 'icon-user' %}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}
        </span> {% endcomment %}

        <i class=" header__icon__menu-close hidden">
          {% render 'icon', icon: 'icon-menu-close' %}
        </i>
      </div>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation pl-[22px] pr-[19px]">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <div id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <div class="submenu-details">
                        <div
                          id="HeaderDrawer-{{ link.handle }}"
                          class="menu-drawer__menu-item list-menu__item w-full flex justify-between link link--text focus-inset submenu-trigger{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                        >
                          {{ link.title | escape }}
                          <span class="submenu-arrow">
                            {% render 'icon', icon: 'icon-menu-arrow' %}
                          </span>
                        </div>

                        <div class="menu-drawer__inner-submenu">
                          <ul
                            class="menu-drawer__menu list-none m-0 p-0 flex flex-col gap-y-[16px] pb-[16px]"
                            role="list"
                            tabindex="-1"
                          >
                            {%- for childlink in link.links -%}
                              <li class="shrink-0 h-5">
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="submenu-item"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %} {% if link.url == '/collections/black-friday' %} mega-menu__link--important{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}

                      {% if link.url == '/collections/black-friday' %}
                        <span class="bg-black  rounded-[20px] py-1 px-[10px] text-white text-[9px]">UP TO 50%OFF</span>
                      {% endif %}
                    </a>
                
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            {% comment %}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                {%- endcase -%}
              {%- endfor -%}
            {% endcomment %}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
          </nav>
    

          {% comment %}
            <div class="menu-drawer__utility-links">
              {%- if shop.customer_accounts_enabled -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                  rel="nofollow"
                >
                  {%- if section.settings.enable_customer_avatar -%}
                    <account-icon>
                      {%- if customer and customer.has_avatar? -%}
                        {{ customer | avatar }}
                      {%- else -%}
                        <span class="svg-wrapper">
                          {{- 'icon-account.svg' | inline_asset_content -}}
                        </span>
                      {%- endif -%}
                    </account-icon>
                  {%- else -%}
                    <span class="svg-wrapper">
                      {{- 'icon-account.svg' | inline_asset_content -}}
                    </span>
                  {%- endif -%}
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </a>
              {%- endif -%}
              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <ul class="list list-social list-unstyled" role="list">
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-twitter.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-facebook.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-pinterest.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-instagram.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-tiktok.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-tumblr.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-snapchat.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-youtube.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-vimeo.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<style>
  .submenu-details {
    border: none;
    outline: none;
  }

  .submenu-trigger {
    cursor: pointer;
  }

  .submenu-arrow {
    transition: transform 0.3s ease;
  }

  .menu-drawer__inner-submenu {
    transition: max-height 0.3s ease;
  }

  /* 初始隐藏关闭图标 */
  .header__icon__menu-close {
    display: none;
    cursor: pointer;
    height: 22px;
    justify-content: center;
    align-items: center;
    width: 22px;
  }
  #header__icon__menu-account {
    display: none;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const submenuDetails = document.querySelectorAll('.submenu-details');

    submenuDetails.forEach((detail, index) => {
      const menuItem = detail.querySelector('.submenu-trigger');
      const submenu = detail.querySelector('.menu-drawer__inner-submenu');
      const arrow = detail.querySelector('.submenu-arrow');

      // 初始状态
      submenu.style.overflow = 'hidden';
      if (index === 0) {
        // 第一个菜单默认展开
        submenu.style.maxHeight = submenu.scrollHeight + 'px';
        arrow.style.transform = 'rotate(180deg)';
      } else {
        submenu.style.maxHeight = '0px';
      }

      menuItem.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        const isOpen = submenu.style.maxHeight !== '0px';

        if (isOpen) {
          // 收起子菜单
          submenu.style.maxHeight = '0px';
          arrow.style.transform = 'rotate(0deg)';
        } else {
          // 展开子菜单
          submenu.style.maxHeight = submenu.scrollHeight + 'px';
          arrow.style.transform = 'rotate(180deg)';
        }
      });
    });

    // 获取相关元素
    const header__search = document.querySelector('.header__search');
    const header__icon_cart = document.querySelector('.header__icon--cart');
    const menuOpen = document.querySelector('.header__icon-menu');
    const header__icon_close = document.querySelector('.header__icon__menu-close');
    const menuDrawerContainer = document.getElementById('Details-menu-drawer-container');
    const header__icon_account = document.querySelector('#header__icon__menu-account');

    // 菜单打开函数
    function openMenu() {
      if (menuOpen) menuOpen.style.display = 'none';
      if (header__icon_close) header__icon_close.style.display = 'flex';
      if (header__search) header__search.style.display = 'none';
      if (header__icon_cart) header__icon_cart.style.display = 'none';
      if (header__icon_account) header__icon_account.style.display = 'block';
    }

    // 菜单关闭函数
    function closeMenu() {
      if (menuOpen) menuOpen.style.display = 'flex';
      if (header__icon_close) header__icon_close.style.display = 'none';
      if (header__search) header__search.style.display = 'block';
      if (header__icon_cart) header__icon_cart.style.display = 'block';
      if (header__icon_account) header__icon_account.style.display = 'none';
    }

    // 监听关闭按钮点击事件
    if (header__icon_close) {
      header__icon_close.addEventListener('click', function (e) {
        closeMenu();
      });
    }

    // 监听菜单按钮点击事件
    if (menuOpen) {
      menuOpen.addEventListener('click', function (e) {
        openMenu();
      });
    }

    // 绑定外部触发器：#mobile-menu-trigger
    const externalTrigger = document.getElementById('mobile-menu-trigger');
    if (externalTrigger) {
      externalTrigger.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        const headerDrawer = document.querySelector('header-drawer');
        if (!headerDrawer) return;
        const details = headerDrawer.querySelector('#Details-menu-drawer-container');
        const summary = details ? details.querySelector('summary') : null;
        if (!details || !summary) return;

        const wasOpen = details.hasAttribute('open');
        // 触发原生逻辑（会根据当前状态打开/关闭）
        summary.click();

        // 同步外层图标/元素显隐
        if (!wasOpen) {
          openMenu();
        } else {
          closeMenu();
        }
      });
    }
  });
</script>
