{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{% assign color_label = 'color,farve,farbe,couleur,cor,color,farve,farbe,couleur,cor,colour,颜色' | split: ',' %}
{% assign size_label = 'size,format,größe,talla,taille,dimension,mărime,dimensione,tamanho,寸法,尺寸' | split: ',' %}

{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    class="flex flex-col gap-y-[28px]"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}

      {% assign option_name_lower = option.name | downcase %}
      {% assign is_color_label = false %}
      {% for color_name in color_label %}
        {% if option_name_lower contains color_name %}
          {% assign is_color_label = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      

      <fieldset class="js bg-[#F4F4F4] py-[17px] flex-col gap-y-[10px] items-start md:flex-row px-[20px] md:px-[30px] rounded-[5px] product-form__input product-form__input--pill flex justify-start gap-x-[25px] w-full  {% if is_color_label %} product-form__input--color {% else %} product-form__input--size {% endif %}">
        <span class="form__label font-Montaga flex items-center text-nowrap gap-x-1 md:gap-x-2 text-xs md:text-sm font-normal tracking-[1.2px] md:tracking-[1.4px] uppercase text-black">
          <span class="border border-black rounded-full w-[14px] h-[14px] flex items-center justify-center ">{{ forloop.index }}</span> {{ option.name }}:
          {% if is_color_label %}
            <span data-js-color-name class=" w-max-content text-xs md:text-sm font-normal tracking-[1.2px] md:tracking-[1.4px] uppercase text-black">
              {{ option.selected_value | default: option.values.first }}
            </span>
          {% endif %}
        </span>
        <div class="flex gap-x-[25px] gap-y-2 w-full flex-wrap">
          {% render 'product-variant-options', product: product, option: option, block: block, picker_type: 'button', is_color_label: is_color_label %}
        </div>
      </fieldset>
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
