<div class="relative px-[15px] md:px-[53px] mt-[30px] md:mt-[40px] mb-[70px] mb:mb-[60px] ">
  <div class="relative h-full">
    {% render 'alp-responsive-image',
      image: section.settings.image,
      image_mobile: section.settings.image_mobile,
      class: 'w-full h-auto aspect-[36/65] md:aspect-[1332/700]'
    %}
    <div class="absolute left-1/2  text-white bottom-1/2 -translate-x-1/2 translate-y-1/2 flex flex-col items-center">
      <h3 class="text-[46px] md:text-[124px] font-normal uppercase font-Montaga  m-0 md:mt-[60px] leading-none">
        {{ section.settings.title }}
      </h3>

      <p class="text-lg md:text-2xl leading-[22px] font-light font-Montaga m-0 mt-[6px] md:mt-[16px] mb-[40px] ">
        {{ section.settings.description }}
      </p>

      <a
        href="{{ section.settings.button_url }}"
        class="rounded-[5px] bg-black  text-white hover:bg-white hover:text-black transition-all duration-300 text-base font-normal tracking-[1.6px] uppercase px-[17px] py-[8px] md:px-[24px] md:py-[16px]"
      >
        {{ section.settings.button_label }}
      </a>
    </div>
  </div>

  <div class="w-full text-center mt-[60px] md:mt-[70px] font-Montaga font-normal  text-[40px] leading-[36px] md:text-[96px] md:leading-[96px]">
    {{ section.settings.text_content }}
  </div>
</div>

{% schema %}
{
  "name": "Index Services",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "html",
      "id": "text_content",
      "label": "Text Content"
    }
  ],
  "presets": [
    {
      "name": "Index Services"
    }
  ]
}
{% endschema %}
