<style>
  .fabrics-grid-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #BABABA;
  }
</style>

<div class="w-full px-[14px] md:px-[53px] section-{{ section.id }}-padding">
  <h1 class="w-full text-black flex gap-[10px] md:gap-[27px] items-center text-2xl md:text-4xl uppercase font-semibold my-[20px] md:my-[50px]">
    {% render 'icon', icon: 'icon-fabrics' %} Fabrics
  </h1>
  <div class="grid grid-cols-1 gap-[15px] md:gap-[36px] md:grid-cols-3 pb-[30px] md:pb-[60px] mb-[30px] md:mb-[60px] relative fabrics-grid-border">
    {% for block in section.blocks %}
      {% if block.type == 'fabric-item' %}
      <div class="col-span-1 relative bg-black">
        <div class="relative group rounded-[5px] overflow-hidden ">
          <!-- 第一张图片：默认显示，hover 时淡出 -->
          <img
            src="{{ block.settings.image | image_url: width: '1000' }}"
            alt="{{ block.settings.title }}"
            class="w-full h-auto transition-opacity  aspect-square duration-300 ease-in-out group-hover:opacity-0"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}"
          >
          <!-- 第二张图片：默认隐藏，hover 第一张（容器）时淡入 -->
          <img
            src="{{ block.settings.image_2 | image_url: width: '1000' }}"
            alt="{{ block.settings.title }}"
            class="w-full h-auto absolute inset-0 aspect-square transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
            width="{{ block.settings.image_2.width }}"
            height="{{ block.settings.image_2.height }}"
          >
        </div>
        <div class=" text-center w-full  md:min-h-[156.8px]  bg-black text-white p-4 rounded-b-[5px]">
          <h2 class="text-xl font-Montaga font-medium uppercase md:text-[32px]">{{ block.settings.title }}</h2>
          <p class="text-sm mt-2 md:text-base font-light">{{ block.settings.description }}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <h1 class="w-full text-black flex gap-[10px] md:gap-[27px] items-center text-2xl md:text-4xl uppercase font-semibold my-[20px] md:my-[50px]">
    {% render 'icon', icon: 'icon-technology' %} Technology
  </h1>
  <div class="grid grid-cols-1 gap-[15px] md:gap-[36px] md:grid-cols-3 pb-[30px] md:pb-[60px] mb-[30px] md:mb-[60px] relative fabrics-grid-border">
    {% for block in section.blocks %}
      {% if block.type == 'technology-item' %}
      <div class="col-span-1 relative bg-black">
        <div class="relative group rounded-[5px] overflow-hidden ">
          {% render 'alp-responsive-image', image: block.settings.image, class: 'w-full h-auto aspect-square  hover:scale-105 transition-transform duration-300 ease-in-out' %}
        </div>
        <div class=" text-center w-full  bg-black text-white p-4 rounded-b-[5px]">
          <h2 class="text-xl font-Montaga font-medium uppercase md:text-[32px]">{{ block.settings.title }}</h2>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Fabrics Technology",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "fabric-item",
      "name": "fabric item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        }
      ]
    },
    {
      "type": "technology-item",
      "name": "technology item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fabrics Technology"
    }
  ]
}
{% endschema %}
